body {
    background-color: lightblue;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

p.description {
    color: gray;
}

h3 {
    color: rgb(100, 100, 100);
}

ul > li {
    font-family: 'Courier New', Courier, monospace;
}

ol > li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    border: 5px solid white;
    padding: 10px;
}

a:hover {
    color: red;
}

#recipe-list {
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
}

#recipe-list > li {
    display: inline;
    text-align: center;
    margin: 40px;
}